<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Vote </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goPrev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="goNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="chartAndSvgContainer">
    <div id="svgContainer">
      <svg viewBox="-250 -250 500 500" style="transform: scaleY(-1);">
        <g>
          <circle #coucou [attr.cx]="cursorX" [attr.cy]="cursorY" [attr.fill]="'blue'" r="20"></circle>
        </g>
      </svg>
    </div>
    <div id="chart">
      <apx-chart [series]="daysChartOptions.series" [chart]="daysChartOptions.chart" [grid]="daysChartOptions.grid"
        [plotOptions]="daysChartOptions.plotOptions" [responsive]="daysChartOptions.responsive"
        [dataLabels]="daysChartOptions.dataLabels" [fill]="daysChartOptions.fill" [legend]="daysChartOptions.legend"
        [tooltip]="daysChartOptions.tooltip"></apx-chart>
    </div>
  </div>
  <ion-button id="ionbuttonvote">Valider le jour</ion-button>
</ion-content>