<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{surveyName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{surveyName}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Création du sondage </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goPrev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="goNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container #swiper (slidechange)="swiperSlideChanged($event)" [pagination]="true">
    <swiper-slide>
      <ion-item>
        <ion-select interface="popover" placeholder="Délai de vote du jour" [(ngModel)]="selectedDelayDay">
          <ion-select-option value="15">15 min</ion-select-option>
          <ion-select-option value="30">30 min</ion-select-option>
          <ion-select-option value="120">2 h</ion-select-option>
          <ion-select-option value="300">5 h</ion-select-option>
          <ion-select-option value="480">8 h</ion-select-option>
        </ion-select>
      </ion-item>
    </swiper-slide>
    <swiper-slide>
      <ion-item>
        <ion-select interface="popover" placeholder="Délai de vote de l'heure" [(ngModel)]="selectedDelayHour">
          <ion-select-option value="15">15 min</ion-select-option>
          <ion-select-option value="30">30 min</ion-select-option>
          <ion-select-option value="120">2 h</ion-select-option>
          <ion-select-option value="300">5 h</ion-select-option>
          <ion-select-option value="480">8 h</ion-select-option>
        </ion-select>
      </ion-item>
    </swiper-slide>
    <swiper-slide>
      <ion-text>Choisissez la couleur de fond du sondage</ion-text>
      <br />
      <color-circle (onChange)="updateCardBackground($event)"></color-circle>
      <br />
      <ion-button (click)="selectImage()">Sélectionner une image</ion-button>
    </swiper-slide>
    <swiper-slide>
      <div class="center-container">
        <ion-text class="upper-text">Sondage en cours</ion-text>
        <ion-card [ngStyle]="{'--background': colorBackgroundPicked}">
          <ion-card-header>
            <img alt="Background survey image" [src]="selectedImage" id="backgroundSurveyImage" />
            <ion-card-title>{{surveyName}}</ion-card-title>
            <div class="flex-container">
              <ion-avatar slot="start">
                <img src="../../assets/images/bluddy.png" alt="Creator Profile Picture">
              </ion-avatar>
              <ion-card-subtitle>Soumis par Ryan Gosling</ion-card-subtitle>
            </div>
          </ion-card-header>
          <ion-card-content>
            <p>{{surveyDescription}}</p>
          </ion-card-content>
        </ion-card>
        <ion-button id="confirmButton" (click)="createSondage()">
          <ion-icon slot="start" name="beer-outline"></ion-icon>
          <ion-text>Valider</ion-text>
        </ion-button>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>